{% extends 'mysite/base.html' %}

{% block body_block %}
{% load static %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls_app:vote' question.id %}" method="post">
{% csrf_token %}
<!--choice_set is default name for all objects in meta class-->
{% for choice in question.choice_set.all %}
<div class="choice-div">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    </div>
{% endfor %}
<div class="vote-button">
<input type="submit" value="Vote">
</div>
</form>

<br>
<a href="{% url 'polls_app:index' %}">Back</a>

{% endblock %}
