{% extends 'mysite/base.html' %}
{% load static %}


{% block body_block %}
<div class="header">
<h1>Answer a poll!</h1>
</div>

<p>
  {% if latest_question_list %}
      <ul>
      {% for question in latest_question_list %}
          <div style="padding: 10px 0 20px 0;">
          <li><a href="/polls_app/{{ question.id }}/"><img class="poll-image" src="{{ question.question_image.url }}" alt="image not available" width="200px"></a></li>
          <a href="/polls_app/{{ question.id }}/">{{ question.question_text }}</a> - Posted {{ question.pub_date|date:"m/d/Y" }}
          </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
<p>

{% endblock %}
