{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Karl's Website</title>
  <meta charset="utf-8">
  <!--CSS-->
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <header class="clearfix">
      <a href="{% url 'meme_review:biopage' %}"><img class="pic" src="{% static '20190615_140344.jpg' %}"
          alt="picture not available"></a>
      <div id="title">
        <h1>Karl Rezansoff</h1>
        <h2>Ottawa, ON</h2>
        <h2>Email: reza0028@algonquinlive.com</h2>
        <br><br><a href= 'https://ca.linkedin.com/in/karlrezansoff'><img class="icon" src="{% static "LI-In-Bug.png" %}" alt="linkedin"></a>
        <a href= 'https://github.com/karlrez'><img class="icon" src="{% static "GitHub-Mark-32px.png" %}" alt="github"></a>
      </div>
    </header>
    
    <nav>
      <div id="menuItems">
          <ul>
              <li class="dropdown">               
                Django Projects
                  <div class="dropdown-content">
                    <a href="{% url 'meme_review:home' %}">Photo Upload</a>
                    <a href="{% url 'polls_app:index' %}">Polls</a>
                  </div>                    
              </li>
              <li class="dropdown">               
                PHP Projects
                  <div class="dropdown-content">
                    <a href="https://wp-eatery.000webhostapp.com/">Restaurant Site</a>
                  </div>                                                     
              </li>
              <li><a href="{% url 'meme_review:biopage' %}">Info</a></li>
          </ul>
      </div>
  </nav>

    <div id="content" class="clearfix">
      <div class="main">
        {% block body_block %} <!--all other templates show here-->
        {% endblock %}
      </div> <!--main div-->
    </div> <!--content div-->

    <footer>
      <p>&copy;2020 Karl Rezansoff</p>
  </footer>

  </div> <!--wrapper div-->
</body>
</html>