{% extends 'mysite/base.html' %}
{% load static %}


{% block body_block %}
<h1>Please take a moment to answer a poll!</h1>

<div class="container">
  {% if latest_question_list %}
      <ul>
      {% for question in latest_question_list %}
          <div class="li-div">
          <li class="poll-index-li"><a href="/polls_app/{{ question.id }}/"><img class="poll-image" src="/{{ question.question_image.url }}" alt="image not available :(" width="200px"></a>
            <a href="/polls_app/{{ question.id }}/">{{ question.question_text }}</a> - {{ question.pub_date|date:"m/d/Y" }}</li>
            </div>
      {% endfor %}
      </ul>
  {% else %}
      <p>No polls are available.</p>
  {% endif %}
</div>

{% endblock %}
