body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Montserrat'
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

.header {
    background-color: #ebebe0;
    padding: 1px;
}

.sidebar-anchor {
    color: #000000;
    font-weight: bold;
    text-decoration: none ;
}

a:hover {
  color: #66a3ff;
  transition: 0.6s;
}

.pic {
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 4%;
}

.side-header {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ebebe0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-items {
  padding: 25px;
}

.body-block {
    margin-left: 200px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* meme app */
.meme {
    padding-top: 30px;
}

.upload-link {
    position: -webkit-sticky;
    position: sticky;
    width: 200px;
    padding: 3px;
    background-color: #d9d9d9;
}

/* polls app */
.poll-index-li {
    list-style-type: none;
}

.li-div {
  padding: 40px;
}