{% extends 'mysite/base.html' %}

{% block body_block %}
{% load static %}
<div class="header">
  <h1>Karl Rezansoff</h1>
</div>

<div class="bio">
Hi, thanks for checking out my page!
This page was created using the Python-Django Framework and includes a page to upload any pictures or memes, and a simple polling app. More to come soon. <br><br>

<strong>Some information about myself...</strong> <br>
I previously studied business and completed a BBA from Okanagan College in sunny Kelowna, BC but I later found my passion for programming and decided to pursue that path. <br><br>
I am currently in the Computer Programmer program at Algonquin College in Ottawa and working towards a career in software development.

At Algonquin my main areas of study include:
<ul>
<li>Object Oriented Programming (Java)</li>
<li>Web programming (JavaScript, PHP, HTML, CSS)</li>
<li>Database Systems (MySQL, PostgreSQL, Microsoft SQL Server, Oracle, Access )</li>
<li>Operating Systems (Windows and Linux)</li>
<li>Android Mobile Programming</li>
<li>Networking</li>
</ul>
The full program course list can be found <a href="https://www.algonquincollege.com/sat/program/computer-programmer/#courses">here</a><br><br>

<strong>I am available for work - get in touch!</strong><br>
Karl Rezansoff<br>
Email: reza0028@algonquinlive.com <br>
Phone: 250-878-3531 <br>
</div>

{% endblock %}
